.grid-pane {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.grid-cell {
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
}

/* Vertical thick lines */
.grid-cell.col-3,
.grid-cell.col-6 {
    -fx-border-right-color: black;
    -fx-border-right-width: 2px;
}

/* Horizontal thick lines */
.grid-cell.row-3,
.grid-cell.row-6 {
    -fx-border-bottom-color: black;
    -fx-border-bottom-width: 2px;
}

/* Bottom right corner */
.grid-cell.col-9.row-9 {
    -fx-border-right-color: black;
    -fx-border-bottom-color: black;
    -fx-border-width: 2px;
}